#page-header {
  background-color: rgb(31, 173, 230);
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
}
#nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2rem;
}
#page-footer {
  background-color: rgb(26, 26, 26);
}
.footer-text {
  color: rgb(114, 114, 121);
  display: flex;
  min-height: 100hv;
  flex-direction: column-reverse;
}
#hero {
  background-image: url();
  background-size: cover;
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  text-align: center;
}
#about-us {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline;
}
.about-us-text {
  color: rgb(114, 114, 121);
}
#qual-header {
  background-color: rgb(207, 29, 29);
  color: rgb(255, 255, 255);
}
#testimonials {
  background-color: blanchedalmond;
}
