#page-header {
  background-color: rgb(31, 173, 230);
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
}
#nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 1rem;
}
.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid;
  border-radius: 0.8rem;
  padding: 0.5rem;
}
#page-footer {
  background-color: rgb(26, 26, 26);
}
.footer-text {
  color: rgb(208, 208, 212);
  display: flex;
  min-height: 100hv;
  flex-direction: column-reverse;
}
#hero {
  background-image: url(./images/pexels-cottonbro-3661194.svg);
  background-size: cover;
  width: 100%;
  height: 60rem;
  background-repeat: no-repeat;
  text-align: center;
}
#about-us {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline;
}
#qual-header {
  background-color: rgb(117, 188, 56);
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#testimonials {
  background-color: rgb(117, 188, 56);
  color: rgb(0, 0, 0);
}
p {
  color: rgb(103, 100, 94);
  font-size: 1.2rem;
  max-width: 50rem;
}
.about-us-text {
  color: rgb(103, 100, 94);
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  font-size: 1.2rem;
}
.parent-testimonial {
  color: rgb(103, 100, 94);
  max-width: 50.1rem;
  font-size: 1.6rem;
}
button {
  color: rgb(0, 0, 0);
  background-color: rgb(80, 200, 120);
  border: 1px solid;
  margin: 1rem auto;
  border-radius: 1rem;
  font-size: 3rem;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
