#page-header {
  background-color: rgb(31, 173, 230);
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
}
#nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2rem;
}
#page-footer {
  background-color: rgb(26, 26, 26);
}
.footer-text {
  color: rgb(114, 114, 121);
  display: flex;
  min-height: 100hv;
  flex-direction: column-reverse;
}
#hero {
  background-image: url(./images/pexels-cottonbro-3661194.svg);
  background-size: cover;
  width: 100%;
  height: 60rem;
  background-repeat: no-repeat;
  text-align: center;
}
#about-us {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline;
}
#qual-header {
  background-color: rgb(117, 188, 56);
  color: rgba(255, 255, 255, 0.853);
}
#testimonials {
  background-color: rgb(117, 188, 56);
  color: rgb(255, 255, 255, 0.853);
}
p {
  color: rgb(103, 100, 94);
  font-size: 1.2rem;
  max-width: 50rem;
}
.about-us-text {
  color: rgb(103, 100, 94);
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  font-size: 1.2rem;
}
.parent-testimonial {
  color: rgb(103, 100, 94);
  max-width: 50.1rem;
  font-size: 1.6rem;
}
.parent {
  color: rgb(103, 100, 94);
  max-width: 50.1rem;
  font-size: 1.6rem;
}
